<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="true"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    failOnRisky="false"
    failOnWarning="false"
    bootstrap="./Tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="PayumBundle">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="SHELL_VERBOSITY" value="-1" />
        <env name="KERNEL_CLASS" value="App\Kernel" />
    </php>
</phpunit>
